name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  PYTHONUNBUFFERED: "1"

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      scylladb:
        image: scylladb/scylla
        ports:
          - 9042:9042
        options: --name scylla-ci --health-cmd "cqlsh --debug" --health-interval 5s --health-retries 10
        volumes:
          - ${{ github.workspace }}:/workspace
    steps:
    - uses: actions/checkout@v2
    - name: Format check
      run: cargo fmt --verbose --all -- --check
    - name: Clippy check
      run: cargo clippy --verbose --tests -- -D warnings
    - name: Build
      run: cargo build --verbose --tests
    - name: Run tests
      # test threads must be one because else database tests will run in parallel and will result in flaky tests
      run: cargo test --verbose -- --test-threads=1
    - name: Install python driver
      run: pip install scylla-driver
    - name: Install pytest
      run: pip install -U pytest
    - name: Build C-S frontend
      run: cargo build --bin cql-stress-cassandra-stress
    - name: C-S frontend tests
      run: pytest -s ./tools/cassandra_stress_ci.py
